:root {
  --Antonio: "Antonio", "Arial", sans-serif;
  --Spartan: "Spartan", "Arial", sans-serif;
}

/* Fonts  */
@font-face {
  font-family: "Antonio";
  src: url("../fonts/Antonio-Bold.woff2") format("woff2"),
    url("../fonts/Antonio-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Antonio";
  src: url("../fonts/Antonio-Regular.woff2") format("woff2"),
    url("../fonts/Antonio-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan-Bold.woff2") format("woff2"),
    url("../fonts/Spartan-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan-SemiBold.woff2") format("woff2"),
    url("../fonts/Spartan-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan-Medium.woff2") format("woff2"),
    url("../fonts/Spartan-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--Spartan);
  margin: 0;
  padding: 0;
  background: #070724 url(../img/bg-image.png) no-repeat center center;
  background-size: cover;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  overflow-x: hidden !important;
}
.container {
  width: 100%;
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Site-header */
.site-header {
  padding-top: 22px;
  padding-bottom: 27px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  display: block;
}
.sitenav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.sitenav__item {
  position: relative;
}
.sitenav__link {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.75);
  font-weight: bold;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: ease-in 0.3s;
}
.sitenav__item:hover .sitenav__link {
  color: #fff;
}
.sitenav__active {
  color: #fff;
}
.sitenav__item:not(:last-child) {
  margin-right: 33px;
}
.sitenav__border {
  width: 100%;
  height: 4px;
  background-color: transparent;
  transition: ease-in 0.4s;
  position: absolute;
  top: -22px;
  left: 0;
}
.menu-btn {
  display: none;
}
/* MAIN_SITE */

.site-main {
  padding-top: 126px;
  padding-bottom: 50px;
}
.site-main__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.planet-info {
  width: 350px;
}
.image-wrapper {
  margin-right: 300px;
}
.image-wrapper img {
  display: block;
  animation: crescendo 1.5s alternate infinite ease-in;
}
.planet-info__title {
  margin-top: 0;
  font-weight: normal;
  font-size: 80px;
  line-height: 104px;
  font-family: var(--Antonio);
  margin-bottom: 23px;
  text-transform: uppercase;
  animation: type 3s steps(23) infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid black;
  width: 280px;
}
.planet-info__text {
  margin-top: 0;
  margin-bottom: 24px;
}
.wiki {
  color: rgb(255, 255, 255, 0.5);
}
.wiki__link {
  color: rgb(255, 255, 255, 0.5);
  font-weight: bold;
}
.tab-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 87px;
}
.tab__item {
  padding: 12px 28px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  border: 1px solid rgb(255, 255, 255, 0.2);
  margin-bottom: 16px;
  transition: background-color 0.3s ease-in;
}
.tab__link {
  text-decoration: none;
  color: #fff;
}
.tab__link--index {
  margin-right: 25px;
  color: rgb(255, 255, 255, 0.5);
}
.tab__item:hover {
  background-color: rgb(216, 216, 216, 0.2);
}
.tab__item--active {
  background-color: transparent;
}
.info-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-list__item {
  width: 255px;
  padding: 20px 23px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  font-family: var(--Antonio);
  display: flex;
  flex-direction: column-reverse;
}
.info-list__item:not(:last-child) {
  margin-right: 30px;
}
.info-list__text {
  font-weight: bold;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(255, 255, 255, 0.5);
  margin-bottom: 4px;
}
.star-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media only screen and (max-width: 1150px) {
  .image-wrapper {
    margin-right: auto;
  }
}
@media only screen and (max-width: 865px) {
  .site-header__container {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 39px;
  }
  .sitenav__border {
    top: 50px;
  }
  .site-main__container {
    flex-direction: column;
  }
  .image-wrapper {
    margin-right: 0;
    margin-bottom: 130px;
  }
  .planet-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .planet-info__text {
    width: 350px;
  }
}
@media only screen and (max-width: 710px) {
  .sitenav__item:not(:last-child) {
    margin-right: 15px;
  }
  .planet-info__text {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .info-list {
    flex-direction: column;
  }
  .info-list__item {
    width: 100%;
  }
  .planet-info__title {
    margin-left: auto;
    margin-right: auto;
  }
  .info-list__item:not(:last-child) {
    margin-right: 0;
  }
  .planet-info {
    text-align: center;
    flex-direction: column;
  }
  .tab-list {
    position: absolute;
    top: 121px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  }
  .tab__item {
    border: none;
    margin-bottom: 0;
    white-space: nowrap;
  }
  .tab__link--index {
    display: none;
  }
  .tab__item--active {
    border-bottom: 1px solid transparent;
  }
}
@media only screen and (max-width: 575px) {
  .menu-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .planet-info__title {
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
  }
  .planet-info__text {
    font-size: 11px;
  }
  .info-list__item {
    font-size: 20px;
    line-height: 26px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .site-header__container {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  .logo {
    margin-bottom: 0;
  }
  .image-wrapper {
    width: 350px;
    height: 350px;
  }
  .image-wrapper img {
    width: 100%;
    height: auto;
  }
  .sitenav {
    position: absolute;
    padding-left: 20px;
    top: 62px;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    z-index: 1000;
    height: 100vh;
    background-color: #070724;
  }
  .tab-list {
    top: 55px;
  }
  .sitenav__list {
    flex-direction: column;
    align-items: start;
  }
  .sitenav__item {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
  }
  .sitenav__link {
    font-size: 15px;
    display: flex;
    align-items: center;
  }
  .sitenav__link::after {
    content: "";
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    right: 20px;
    background-image: url(../img/nav-arrow.svg);
  }
  .sitenav__border {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: static;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 450px) {
  .image-wrapper {
    width: 300px;
    height: 300px;
  }
  .tab__item {
    padding: 10px 10px;
  }
}
.active {
  transform: translateX(0);
  transition: 0.4s ease-in;
}
@keyframes crescendo {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes type {
  0% {
    width: 0px;
  }
  100% {
    width: 280px;
  }
}
